# allows mix to work on this local directory
if ! test -d .nix-mix; then mkdir .nix-mix; fi

export MIX_HOME=$PWD/.nix-mix
export HEX_HOME=$PWD/.nix-mix
export PATH=$MIX_HOME/bin:$HEX_HOME/bin:$PATH
export ERL_FLAGS="-kernel shell_history enabled"

use flake

if test -f .env; then
	source .env
fi
